spring.application.name=recrutplus

spring.datasource.url=
spring.datasource.username=
spring.datasource.password=

security.jwt.secret-key=
security.jwt.expiration-time=

spring.mail.host=
spring.mail.port=
spring.mail.username=
spring.mail.password=
app.mail.from=
app.mail.base-url=

spring.data.mongodb.host=
spring.data.mongodb.port=
spring.data.mongodb.database=
